bengaliai-speech.zip
.conda
examples
test_mp3s
train_mp3s
sample_submission.csv
train.csv
anaconda3*
YellowKing_model
YellowKing_processor
submission.csv
train_metadata.csv
NISQA_wavfiles.csv
filtered_ids.csv
valid_train_mp3s
weights
NISQA_lib.py
NISQA_model.py
run_predict.py
__pycache__
valid_train_wavs
train_mp3_subsets
full_train_wav_subsets
.env
poetry*
tests
pyproject.toml
